<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="userdata">Information</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="postdata">Add Person</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>